// palette
$base-color: #6583a8;
$base-color-v2: #6b7b8e;
$base-color-v3: #8fbbaf;
$base-color-v4: #acdeaa;
$base-color-v5: #d6f8b8;

//backgrounds
$bg-primary: #2f4963;
$bg-secondary: #6b7b8e;
$bg-common-light: #fff;
$bg-common-dark: #08071c;

//color
$color-common-light: #fff;
$color-common-dark: #08071c;

//btn large
$btn-width-large: 100px;
$btn-font-large: 15px;

//fonts sizing
$caption: 14px;
$body1: 16px;
$body2: 16px;
$subtitle1: 18px;
$subtitle2: 16px;
$h1: 64px;
$h2: 42px;
$h3: 34px;
$h4: 32px;
$h5: 24px;
$h6: 20px;
